<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=identity;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <nlog >
    <targets>
      <target name="file" type="File" fileName="D:\tmp\log\${shortdate}.log"
          layout="${longdate}; ${uppercase:${level}}; ${callsite:className=true:methodName=true}; ${message}; ${exception:format=StackTrace};" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--CL@VE-->
    <!-- -+-+- CORE CONFIGS -+-+- -->
    <!-- Core: name of the html hidden field from which the saml request is retreived -->
    <add key="samlRequestField" value="SAMLRequest" />
    <!-- Core: name of the html hidden field from which the saml logout request is retreived -->
    <add key="samlRequestLogoutField" value="samlRequestLogout" />
    <!-- Core: name of the html hidden field where the saml response goes -->
    <add key="samlResponseField" value="SAMLResponse" />
    <!-- Core: name of the html hidden field where the saml logout response goes -->
    <add key="samlResponseLogoutField" value="samlResponseLogout" />
    <!-- Core: name of the hidden field from which the relay state is retreived -->
    <add key="relayStateField" value="RelayState" />
    <!-- Core: name of the hidden field from which PEPS will retrieve the destination country -->
    <add key="countryField" value="country" />

    <!-- SERVICE PROVIDER CONFIGS-->
    <!-- SP Provider Name -->
    <add key="SPProviderName" value="q2827015e_e00138303" />
    <!-- SP Return URL-->
    <add key="SPReturnURL" value="https://localhost:44300//AuthServices/Acs" />
    <!-- SP Logout Return URL-->
    <add key="SPLogoutReturnURL" value="https://localhost:44300//" />
    <!-- Default SP's QAA Level-->
    <add key="SPQAALevel" value="3" />
    <!-- URL of the assertion provider -->
    <add key="SPIssuer" value="q2827015e_e00138303" />
    <!-- ID of the provider -->
    <add key="SPID" value="q2827015e_e00138303" />
    <!-- SP sector (corresponds to the stork pilot number) -->
    <add key="SPSector" value="5" />
    <!-- SP institution used for stork-->
    <add key="SPInstitution" value="q2827015e_e00138303" />
    <!-- SP application used for stork -->
    <add key="SPApplication" value="DEMO-SP" />
    <!-- SAML: service provider country used for stork -->
    <add key="SPCountry" value="ES" />
    <!-- SP Version control file path -->
    <add key="SPVCFile" value="~/App_Data/STORK-info-SPs.xml" />

    <!-- Default SAML Destination-->
    <add key="SendTo" value="https://se-pasarela.clave.gob.es/Proxy/ServiceProvider" />
    <!-- Logout SAML Destination-->
    <add key="LogoutSendTo" value="https://se-pasarela.clave.gob.es/Proxy/LogoutAction" />
    <!-- Customized SAML Destination-->
    <add key="ES_SPEPSURL" value="https://se-pasarela.clave.gob.es/Proxy/ServiceProvider" />

    <!-- SPEPS Country Information-->
    <!-- SPEPS CountryList -->
    <add key="SPEPS_CountryList" value="ES" />
    <add key="SPEPS" value="ES" />

    <!-- CPEPS CountryList -->
    <add key="CPEPS_CountryList" value="ES" />
    <add key="CPEPS" value="ES" />

    <!-- SAML ENGINE CONFIGS-->
    <!-- enable or disable xsd validation on saml engine -->
    <add key="SamlValidateXsdXml" value="false" />
    <!-- SAML: number of minutes defining the attribute validity since they are assessed -->
    <add key="SamlValidTimeframe" value="5" />
    <!-- SAML: thumbprint of the certificate to be retrieved from the local machine personal keystore;
         this certificate (with a private/public key) is used to sign SAML requests/responses -->
    <add key="SamlCertificate" value="4cc63347f12df87d39083019f825d67cb13cff78"/>

    <!-- SAML: number of seconds of clock deviation when an assertion is being validated -->
    <add key="SamlSkewClock" value="150" />
    <!-- SAML: eID shared in sector (stork) -->
    <add key="SamlEIDSectorShare" value="false" />
    <!-- SAML: eId shared across sector (stork) -->
    <add key="SamlEIDCrossSectorShare" value="false" />
    <!-- SAML: eId shared across border (stork) -->
    <add key="SamlEIDCrossBorderShare" value="false" />
    <!-- SAML: Configurable Namespace and prefix-->
    <!-- SAML: QAALEVEL Namespace and prefix  -->
    <add key="NSQAALevel" value="urn:eu:stork:names:tc:STORK:1.0:assertion" />
    <add key="NSQAALevelPrefix" value="stork" />
    <!-- SAML: Requested Attributes Namespace and prefix  -->
    <add key="NSReqAttrs" value="urn:eu:stork:names:tc:STORK:1.0:protocol" />
    <add key="NSReqAttrsPrefix" value="storkp" />
    <!-- SAML: Requested Attribute Namespace and prefix  -->
    <add key="NSReqAttr" value="urn:eu:stork:names:tc:STORK:1.0:assertion" />
    <add key="NSReqAttrPrefix" value="stork" />
    <!-- -+-+- COMMON CONFIGS -+-+- -->
    <!-- CertificateUtils: maximum number of stored certificates from the OS keystore -->
    <add key="MaxNumberStoredCertificates" value="10" />
    <!--CL@VE-->

  </appSettings>

  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" >
    </customErrors>
  </system.web>

  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>