<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\claveOwin.mdf;Initial Catalog=claveOwin;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--CL@VE-->
    <!-- -+-+- CORE CONFIGS -+-+- -->
    <!-- Core: name of the html hidden field from which the saml request is retreived -->
    <add key="samlRequestField" value="SAMLRequest"/>
    <!-- Core: name of the html hidden field from which the saml logout request is retreived -->
    <add key="samlRequestLogoutField" value="samlRequestLogout"/>
    <!-- Core: name of the html hidden field where the saml response goes -->
    <add key="samlResponseField" value="SAMLResponse"/>
    <!-- Core: name of the html hidden field where the saml logout response goes -->
    <add key="samlResponseLogoutField" value="samlResponseLogout"/>
    <!-- Core: name of the hidden field from which the relay state is retreived -->
    <add key="relayStateField" value="RelayState"/>
    <!-- Core: name of the hidden field from which PEPS will retrieve the destination country -->
    <add key="countryField" value="country"/>
    <!-- SERVICE PROVIDER CONFIGS-->
    <!-- SP Provider Name -->
    <add key="SPProviderName" value="spproxy"/>
    <!-- SP Return URL-->
    <add key="SPReturnURL" value="http://localhost:53100/AuthServices/Acs"/>
    <!-- SP Logout Return URL-->
    <add key="SPLogoutReturnURL" value="http://localhost:53100/"/>
    <!-- Default SP's QAA Level-->
    <add key="SPQAALevel" value="3"/>
    <!-- Country List Separator -->
    <add key="CountrySeparator" value=";"/>
    <!-- URL of the assertion provider -->
    <add key="SPIssuer" value="DEMO-SP"/>
    <!-- ID of the provider -->
    <add key="SPID" value="DEMO-SP"/>
    <!-- SP sector (corresponds to the stork pilot number) -->
    <add key="SPSector" value="5"/>
    <!-- SP institution used for stork-->
    <add key="SPInstitution" value="DEMO-SP"/>
    <!-- SP application used for stork -->
    <add key="SPApplication" value="DEMO-SP"/>
    <!-- SAML: service provider country used for stork -->
    <add key="SPCountry" value="ES"/>
    <!-- SP Version control file path -->
    <add key="SPVCFile" value="~/App_Data/STORK-info-SPs.xml"/>
    <!-- SPEPS Country Information-->
    <!-- SPEPS CountryList -->
    <add key="SPEPS.CountryList" value="ES"/>
    <add key="SPEPS" value="ES"/>
    <!-- Default SAML Destination-->
    <!--<add key="SendTo" value="https://se-pasarela.clave.gob.es/Proxy/ServiceProvider"/>-->

    <add key="SendTo" value="https://pasarela.clave.gob.es/Proxy/ServiceProvider"/>

    <!-- Logout SAML Destination-->
    <add key="LogoutSendTo" value="https://se-pasarela.clave.gob.es/Proxy/LogoutAction"/>
    <!-- Customized SAML Destination-->
    <add key="ES.SPEPSURL" value="https://se-pasarela.clave.gob.es/Proxy/ServiceProvider"/>
    <!--<add key="ES.SPEPSURL" value="https://pre-pasarela.clave.gob.es/Proxy/ServiceProvider"/>-->
    <!-- CPEPS CountryList -->
    <add key="CPEPS.CountryList" value="ES"/>
    <add key="CPEPS" value="ES"/>
    <!-- Attribute List Separator -->
    <add key="AttributeSeparator" value=";"/>
    <!-- PersonalAttributeList -->
    <add key="PersonalAttributeList" value="eIdentifier;givenName;surname;inheritedFamilyName;secondSurname;isdnie;adoptedFamilyName;gender;dateOfBirth;countryCodeOfBirth;nationalityCode;maritalStatus;textResidenceAddress;canonicalResidenceAddress;eMail;title;residencePermit;pseudonym;age;isAgeOver;signedDoc;citizenQAALevel;fiscalNumber"/>
    <add key="eIdentifier.NS" value="http://www.stork.gov.eu/1.0/eIdentifier"/>
    <add key="givenName.NS" value="http://www.stork.gov.eu/1.0/givenName"/>
    <add key="surname.NS" value="http://www.stork.gov.eu/1.0/surname"/>
    <add key="inheritedFamilyName.NS" value="http://www.stork.gov.eu/1.0/inheritedFamilyName"/>
    <add key="secondSurname.NS" value="http://www.stork.gov.eu/1.0/secondSurname"/>
    <add key="isdnie.NS" value="http://www.stork.gov.eu/1.0/isdnie"/>
    <add key="adoptedFamilyName.NS" value="http://www.stork.gov.eu/1.0/adoptedFamilyName"/>
    <add key="gender.NS" value="http://www.stork.gov.eu/1.0/gender"/>
    <add key="dateOfBirth.NS" value="http://www.stork.gov.eu/1.0/dateOfBirth"/>
    <add key="countryCodeOfBirth.NS" value="http://www.stork.gov.eu/1.0/countryCodeOfBirth"/>
    <add key="nationalityCode.NS" value="http://www.stork.gov.eu/1.0/nationalityCode"/>
    <add key="maritalStatus.NS" value="http://www.stork.gov.eu/1.0/maritalStatus"/>
    <add key="textResidenceAddress.NS" value="http://www.stork.gov.eu/1.0/textResidenceAddress"/>
    <add key="canonicalResidenceAddress.NS" value="http://www.stork.gov.eu/1.0/canonicalResidenceAddress"/>
    <add key="eMail.NS" value="http://www.stork.gov.eu/1.0/eMail"/>
    <add key="title.NS" value="http://www.stork.gov.eu/1.0/title"/>
    <add key="residencePermit.NS" value="http://www.stork.gov.eu/1.0/residencePermit"/>
    <add key="pseudonym.NS" value="http://www.stork.gov.eu/1.0/pseudonym"/>
    <add key="age.NS" value="http://www.stork.gov.eu/1.0/age"/>
    <add key="isAgeOver.NS" value="http://www.stork.gov.eu/1.0/isAgeOver"/>
    <add key="signedDoc.NS" value="http://www.stork.gov.eu/1.0/signedDoc"/>
    <add key="citizenQAALevel.NS" value="http://www.stork.gov.eu/1.0/citizenQAALevel"/>
    <add key="fiscalNumber.NS" value="http://www.stork.gov.eu/1.0/fiscalNumber"/>
    <add key="ocspResponse.NS" value="http://www.stork.gov.eu/1.0/ocspResponse"/>
    <add key="forceAuth.NS" value="http://www.stork.gov.eu/1.0/forceAuth"/>
    <add key="registerType.NS" value="http://www.stork.gov.eu/1.0/registerType"/>
    <!-- BusinessAttributeList -->
    <add key="BusinessAttributeList" value="surnameOfHolder;givenNameOfHolder;dateOfBirthOfHolder;studentIdentificationCode;nameOfQualification;nameOfTitle;mainFieldsOfStudy;nameOfAwardingInstitution;statusOfAwardingInstitution;languageOfInstruction;languageOfAssesment;levelOfQualification;officialLengthOfProgramme;accessRequirement;modeOfStudy;programmeRequirements;programmeDetails;gradingScheme;gradingDistributionGuidance;overallClassification;accessToFurtherStudy;professionalStatus;additionalInformation;additionalInformationSources;certificationDate;certificationCapacity;higherEducationSystemInformation;yearOfStudy;averageGradeOfStudy;studyRecommendation;isEligibleForInternship;isStudent;isAcademicStaff;isTeacherOf;isCourseCoordinator;isAdminStaff;habilitation;acTitle;hasDegree;hasAccountInBank;isHealthCareProfessional"/>
    <add key="surnameOfHolder.NS" value="http://www.stork.gov.eu/1.0/surnameOfHolder"/>
    <add key="givenNameOfHolder.NS" value="http://www.stork.gov.eu/1.0/givenNameOfHolder"/>
    <add key="dateOfBirthOfHolder.NS" value="http://www.stork.gov.eu/1.0/dateOfBirthOfHolder"/>
    <add key="studentIdentificationCode.NS" value="http://www.stork.gov.eu/1.0/studentIdentificationCode"/>
    <add key="nameOfQualification.NS" value="http://www.stork.gov.eu/1.0/nameOfQualification"/>
    <add key="nameOfTitle.NS" value="http://www.stork.gov.eu/1.0/nameOfTitle"/>
    <add key="mainFieldsOfStudy.NS" value="http://www.stork.gov.eu/1.0/mainFieldsOfStudy"/>
    <add key="nameOfAwardingInstitution.NS" value="http://www.stork.gov.eu/1.0/nameOfAwardingInstitution"/>
    <add key="statusOfAwardingInstitution.NS" value="http://www.stork.gov.eu/1.0/statusOfAwardingInstitution"/>
    <add key="languageOfInstruction.NS" value="http://www.stork.gov.eu/1.0/languageOfInstruction"/>
    <add key="languageOfAssesment.NS" value="http://www.stork.gov.eu/1.0/languageOfAssesment"/>
    <add key="levelOfQualification.NS" value="http://www.stork.gov.eu/1.0/levelOfQualification"/>
    <add key="officialLengthOfProgramme.NS" value="http://www.stork.gov.eu/1.0/officialLengthOfProgramme"/>
    <add key="accessRequirement.NS" value="http://www.stork.gov.eu/1.0/accessRequirement"/>
    <add key="modeOfStudy.NS" value="http://www.stork.gov.eu/1.0/modeOfStudy"/>
    <add key="programmeRequirements.NS" value="http://www.stork.gov.eu/1.0/programmeRequirements"/>
    <add key="programmeDetails.NS" value="http://www.stork.gov.eu/1.0/programmeDetails"/>
    <add key="gradingScheme.NS" value="http://www.stork.gov.eu/1.0/gradingScheme"/>
    <add key="gradingDistributionGuidance.NS" value="http://www.stork.gov.eu/1.0/gradingDistributionGuidance"/>
    <add key="overallClassification.NS" value="http://www.stork.gov.eu/1.0/overallClassification"/>
    <add key="accessToFurtherStudy.NS" value="http://www.stork.gov.eu/1.0/accessToFurtherStudy"/>
    <add key="professionalStatus.NS" value="http://www.stork.gov.eu/1.0/professionalStatus"/>
    <add key="additionalInformation.NS" value="http://www.stork.gov.eu/1.0/additionalInformation"/>
    <add key="additionalInformationSources.NS" value="http://www.stork.gov.eu/1.0/additionalInformationSources"/>
    <add key="certificationDate.NS" value="http://www.stork.gov.eu/1.0/certificationDate"/>
    <add key="certificationCapacity.NS" value="http://www.stork.gov.eu/1.0/certificationCapacity"/>
    <add key="higherEducationSystemInformation.NS" value="http://www.stork.gov.eu/1.0/higherEducationSystemInformation"/>
    <add key="yearOfStudy.NS" value="http://www.stork.gov.eu/1.0/yearOfStudy"/>
    <add key="averageGradeOfStudy.NS" value="http://www.stork.gov.eu/1.0/averageGradeOfStudy"/>
    <add key="studyRecommendation.NS" value="http://www.stork.gov.eu/1.0/studyRecommendation"/>
    <add key="isEligibleForInternship.NS" value="http://www.stork.gov.eu/1.0/isEligibleForInternship"/>
    <add key="isStudent.NS" value="http://www.stork.gov.eu/1.0/isStudent"/>
    <add key="isAcademicStaff.NS" value="http://www.stork.gov.eu/1.0/isAcademicStaff"/>
    <add key="isTeacherOf.NS" value="http://www.stork.gov.eu/1.0/isTeacherOf"/>
    <add key="isCourseCoordinator.NS" value="http://www.stork.gov.eu/1.0/isCourseCoordinator"/>
    <add key="isAdminStaff.NS" value="http://www.stork.gov.eu/1.0/isAdminStaff"/>
    <add key="habilitation.NS" value="http://www.stork.gov.eu/1.0/habilitation"/>
    <add key="acTitle.NS" value="http://www.stork.gov.eu/1.0/acTitle"/>
    <add key="hasDegree.NS" value="http://www.stork.gov.eu/1.0/hasDegree"/>
    <add key="hasAccountInBank.NS" value="http://www.stork.gov.eu/1.0/hasAccountInBank"/>
    <add key="isHealthCareProfessional.NS" value="http://www.stork.gov.eu/1.0/isHealthCareProfessional"/>
    <!-- LegalAttributeList -->
    <add key="LegalAttributeList" value="eLPIdentifier;legalName;alternativeName;type;translatableType;status;activity;registeredAddress;registeredCanonicalAddress;contactInformation;fiscalNumber;representative;represented;mandateContent"/>
    <add key="eLPIdentifier.NS" value="http://www.stork.gov.eu/1.0/eLPIdentifier"/>
    <add key="legalName.NS" value="http://www.stork.gov.eu/1.0/legalName"/>
    <add key="alternativeName.NS" value="http://www.stork.gov.eu/1.0/alternativeName"/>
    <add key="type.NS" value="http://www.stork.gov.eu/1.0/type"/>
    <add key="translatableType.NS" value="http://www.stork.gov.eu/1.0/translatableType"/>
    <add key="status.NS" value="http://www.stork.gov.eu/1.0/status"/>
    <add key="activity.NS" value="http://www.stork.gov.eu/1.0/activity"/>
    <add key="registeredAddress.NS" value="http://www.stork.gov.eu/1.0/registeredAddress"/>
    <add key="registeredCanonicalAddress.NS" value="http://www.stork.gov.eu/1.0/registeredCanonicalAddress"/>
    <add key="contactInformation.NS" value="http://www.stork.gov.eu/1.0/contactInformation"/>
    <add key="fiscalNumber.NS" value="http://www.stork.gov.eu/1.0/fiscalNumber"/>
    <add key="representative.NS" value="http://www.stork.gov.eu/1.0/representative"/>
    <add key="represented.NS" value="http://www.stork.gov.eu/1.0/represented"/>
    <add key="mandateContent.NS" value="http://www.stork.gov.eu/1.0/mandateContent"/>
    <!-- Translated personal attributes to Spanish -->
    <add key="eIdentifier" value="Identificador electronico"/>
    <add key="givenName" value="Nombre"/>
    <add key="surname" value="Apellidos"/>
    <add key="isdnie" value="DNIe"/>
    <add key="inheritedFamilyName" value="Primer apellido"/>
    <add key="secondSurname" value="Segundo apellido"/>
    <add key="adoptedFamilyName" value="Apellidos adoptado"/>
    <add key="gender" value="Genero"/>
    <add key="dateOfBirth" value="Fecha de nacimiento"/>
    <add key="countryCodeOfBirth" value="Codigo del pais de nacimiento"/>
    <add key="nationalityCode" value="Nacionalidad"/>
    <add key="maritalStatus" value="Estado civil"/>
    <add key="textResidenceAddress" value="Direccion de residencia (texto)"/>
    <add key="canonicalResidenceAddress" value="Direccion de residencia (canonica)"/>
    <add key="eMail" value="Email"/>
    <add key="title" value="Titulo"/>
    <add key="residencePermit" value="Permiso de residencia"/>
    <add key="pseudonym" value="Pseudonimo"/>
    <add key="age" value="Edad"/>
    <add key="isAgeOver" value="Es mayor que"/>
    <add key="signedDoc" value="Documento firmado"/>
    <add key="citizenQAALevel" value="Nivel QAA del ciudadano"/>
    <add key="fiscalNumber" value="Numero fiscal"/>
    <add key="ocspResponse" value="Respuesta OSCP"/>
    <add key="forceAuth" value="Forzar autenticacion"/>
    <add key="registerType" value="Tipo de registro"/>
    <!-- Translated business attributes to Spanish -->
    <add key="surnameOfHolder" value="Apellidos del titular"/>
    <add key="givenNameOfHolder" value="Nombre del titular"/>
    <add key="dateOfBirthOfHolder" value="Fecha de nacimiento del titular"/>
    <add key="studentIdentificationCode" value="Codigo de identificacion de estudiante"/>
    <add key="nameOfQualification" value="Nombre de la cualificacion"/>
    <add key="nameOfTitle" value="Nombre del titulo"/>
    <add key="mainFieldsOfStudy" value="Campo principal de estudio"/>
    <add key="nameOfAwardingInstitution" value="Nombre de la institucion expedidora"/>
    <add key="statusOfAwardingInstitution" value="Estatus de la institucion expedidora"/>
    <add key="languageOfInstruction" value="Idioma de la institucion"/>
    <add key="languageOfAssesment" value="Idioma de evaluacion"/>
    <add key="levelOfQualification" value="Nivel de la cualificacion"/>
    <add key="officialLengthOfProgramme" value="Duracion oficial el programa"/>
    <add key="accessRequirement" value="Requisito de acceso"/>
    <add key="modeOfStudy" value="Modo de estudio"/>
    <add key="programmeRequirements" value="Requisitos del programa"/>
    <add key="programmeDetails" value="Detalles del programa"/>
    <add key="gradingScheme" value="Esquema de calificaciones"/>
    <add key="gradingDistributionGuidance" value="Guia de distribucion de calificaciones"/>
    <add key="overallClassification" value="Calificacion global"/>
    <add key="accessToFurtherStudy" value="Acceso a estudios mas avanzados"/>
    <add key="professionalStatus" value="Estatus profesional"/>
    <add key="additionalInformation" value="Informacion adicional"/>
    <add key="additionalInformationSources" value="Fuentes de informacion adicional"/>
    <add key="certificationDate" value="Fecha de certificacion"/>
    <add key="certificationCapacity" value="Capacidad de certificacion"/>
    <add key="higherEducationSystemInformation" value="Informacion de sistema de educacion mas avanzada"/>
    <add key="yearOfStudy" value="Año de estudio"/>
    <add key="averageGradeOfStudy" value="Nota media de estudio"/>
    <add key="studyRecommendation" value="Recomendacion de estudio"/>
    <add key="isEligibleForInternship" value="Es candidato a beca"/>
    <add key="isStudent" value="Es estudiante"/>
    <add key="isAcademicStaff" value="Es personal academico"/>
    <add key="isTeacherOf" value="Es profesor de"/>
    <add key="isCourseCoordinator" value="Es coordinador de curso"/>
    <add key="isAdminStaff" value="Es personal administrativo"/>
    <add key="habilitation" value="Cualificacion para ser profesor universitario en Europa"/>
    <add key="acTitle" value="Titulo academico"/>
    <add key="hasDegree" value="Tiene titulo"/>
    <add key="hasAccountInBank" value="Tiene cuenta bancaria"/>
    <add key="isHealthCareProfessional" value="Es profesional sanitario"/>
    <!-- Translated legal attributes to Spanish -->
    <add key="eLPIdentifier" value="Identificador electronico de la persona legal"/>
    <add key="legalName" value="Nombre legal"/>
    <add key="alternativeName" value="Nombre alternativo"/>
    <add key="type" value="Tipo"/>
    <add key="translatableType" value="Tipo de traducible"/>
    <add key="status" value="Estatus"/>
    <add key="activity" value="Actividad"/>
    <add key="registeredAddress" value="Direccion registrada"/>
    <add key="registeredCanonicalAddress" value="Direccion canonica registrada"/>
    <add key="contactInformation" value="Informacion de contacto"/>
    <add key="fiscalNumber" value="Numero fiscal"/>
    <add key="representative" value="Representante"/>
    <add key="represented" value="Representado"/>
    <add key="mandateContent" value="Contenido de la orden"/>
    <!-- SAML ENGINE CONFIGS-->
    <!-- enable or disable xsd validation on saml engine -->
    <add key="SamlValidateXsdXml" value="false"/>
    <!-- SAML: number of minutes defining the attribute validity since they are assessed -->
    <add key="SamlValidTimeframe" value="5"/>
    <!-- SAML: thumbprint of the certificate to be retrieved from the local machine personal keystore;
         this certificate (with a private/public key) is used to sign SAML requests/responses -->
    <add key="SamlCertificate" value="ec977ab7b1bbe18d23eb6f18acc8122cccee6745"/>
    <!-- SAML: number of seconds of clock deviation when an assertion is being validated -->
    <add key="SamlSkewClock" value="150"/>
    <!-- SAML: eID shared in sector (stork) -->
    <add key="SamlEIDSectorShare" value="false"/>
    <!-- SAML: eId shared across sector (stork) -->
    <add key="SamlEIDCrossSectorShare" value="false"/>
    <!-- SAML: eId shared across border (stork) -->
    <add key="SamlEIDCrossBorderShare" value="false"/>
    <!-- SAML: Configurable Namespace and prefix-->
    <!-- SAML: QAALEVEL Namespace and prefix  -->
    <add key="NSQAALevel" value="urn:eu:stork:names:tc:STORK:1.0:assertion"/>
    <add key="NSQAALevelPrefix" value="stork"/>
    <!-- SAML: Requested Attributes Namespace and prefix  -->
    <add key="NSReqAttrs" value="urn:eu:stork:names:tc:STORK:1.0:protocol"/>
    <add key="NSReqAttrsPrefix" value="storkp"/>
    <!-- SAML: Requested Attribute Namespace and prefix  -->
    <add key="NSReqAttr" value="urn:eu:stork:names:tc:STORK:1.0:assertion"/>
    <add key="NSReqAttrPrefix" value="stork"/>
    <!-- -+-+- COMMON CONFIGS -+-+- -->
    <!-- CertificateUtils: maximum number of stored certificates from the OS keystore -->
    <add key="MaxNumberStoredCertificates" value="10"/>
    <!--CL@VE-->
  </appSettings>
  
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>