<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="eu.stork.peps.auth.engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>

    <!--CL@VE-->

    <!-- -+-+- CORE CONFIGS -+-+- -->
    <!-- Core: name of the html hidden field from which the saml request is retreived -->
    <add key="samlRequestField" value="SAMLRequest" />
    <!-- Core: name of the html hidden field from which the saml logout request is retreived -->
    <add key="samlRequestLogoutField" value="samlRequestLogout" />
    <!-- Core: name of the html hidden field where the saml response goes -->
    <add key="samlResponseField" value="SAMLResponse" />
    <!-- Core: name of the html hidden field where the saml logout response goes -->
    <add key="samlResponseLogoutField" value="samlResponseLogout" />
    <!-- Core: name of the hidden field from which the relay state is retreived -->
    <add key="relayStateField" value="RelayState" />
    <!-- Core: name of the hidden field from which PEPS will retrieve the destination country -->
    <add key="countryField" value="country" />

    <!-- SERVICE PROVIDER CONFIGS-->
    <!-- SP Provider Name -->
    <add key="SPProviderName" value="q2827015e_e00138303" />
    <!-- SP Return URL-->
    <add key="SPReturnURL" value="https://localhost:44300//AuthServices/Acs" />
    <!-- SP Logout Return URL-->
    <add key="SPLogoutReturnURL" value="https://localhost:44300//" />
    <!-- Default SP's QAA Level-->
    <add key="SPQAALevel" value="3" />
    <!-- Country List Separator -->
    <add key="CountrySeparator" value=";" />
    <!-- URL of the assertion provider -->
    <add key="SPIssuer" value="q2827015e_e00138303" />
    <!-- ID of the provider -->
    <add key="SPID" value="q2827015e_e00138303" />
    <!-- SP sector (corresponds to the stork pilot number) -->
    <add key="SPSector" value="5" />
    <!-- SP institution used for stork-->
    <add key="SPInstitution" value="q2827015e_e00138303" />
    <!-- SP application used for stork -->
    <add key="SPApplication" value="DEMO-SP" />
    <!-- SAML: service provider country used for stork -->
    <add key="SPCountry" value="ES" />
    <!-- SP Version control file path -->
    <add key="SPVCFile" value="~/App_Data/STORK-info-SPs.xml" />
    <!-- SPEPS Country Information-->
    <!-- SPEPS CountryList -->
    <add key="SPEPS_CountryList" value="ES" />
    <add key="SPEPS" value="ES" />

    <!-- Default SAML Destination-->
    <add key="SendTo" value="https://se-pasarela.clave.gob.es/Proxy/ServiceProvider" />

    <!-- Logout SAML Destination-->
    <add key="LogoutSendTo" value="https://se-pasarela.clave.gob.es/Proxy/LogoutAction" />
    <!-- Customized SAML Destination-->
    <add key="ES_SPEPSURL" value="https://se-pasarela.clave.gob.es/Proxy/ServiceProvider" />
    <!--<add key="ES_SPEPSURL" value="https://pre-pasarela.clave.gob.es/Proxy/ServiceProvider"/>-->

    <!-- CPEPS CountryList -->
    <add key="CPEPS_CountryList" value="ES" />
    <add key="CPEPS" value="ES" />


    <!-- SAML ENGINE CONFIGS-->
    <!-- enable or disable xsd validation on saml engine -->
    <add key="SamlValidateXsdXml" value="false" />
    <!-- SAML: number of minutes defining the attribute validity since they are assessed -->
    <add key="SamlValidTimeframe" value="5" />
    <!-- SAML: thumbprint of the certificate to be retrieved from the local machine personal keystore;
         this certificate (with a private/public key) is used to sign SAML requests/responses -->
    <add key="SamlCertificate" value="8103cc55c040a0df65195f3824efa03015e3c1a2"/>
    <!-- SAML: number of seconds of clock deviation when an assertion is being validated -->
    <add key="SamlSkewClock" value="150" />
    <!-- SAML: eID shared in sector (stork) -->
    <add key="SamlEIDSectorShare" value="false" />
    <!-- SAML: eId shared across sector (stork) -->
    <add key="SamlEIDCrossSectorShare" value="false" />
    <!-- SAML: eId shared across border (stork) -->
    <add key="SamlEIDCrossBorderShare" value="false" />
    <!-- SAML: Configurable Namespace and prefix-->
    <!-- SAML: QAALEVEL Namespace and prefix  -->
    <add key="NSQAALevel" value="urn:eu:stork:names:tc:STORK:1.0:assertion" />
    <add key="NSQAALevelPrefix" value="stork" />
    <!-- SAML: Requested Attributes Namespace and prefix  -->
    <add key="NSReqAttrs" value="urn:eu:stork:names:tc:STORK:1.0:protocol" />
    <add key="NSReqAttrsPrefix" value="storkp" />
    <!-- SAML: Requested Attribute Namespace and prefix  -->
    <add key="NSReqAttr" value="urn:eu:stork:names:tc:STORK:1.0:assertion" />
    <add key="NSReqAttrPrefix" value="stork" />
    <!-- -+-+- COMMON CONFIGS -+-+- -->
    <!-- CertificateUtils: maximum number of stored certificates from the OS keystore -->
    <add key="MaxNumberStoredCertificates" value="10" />

   
    <!-- Translated personal attributes to Spanish -->
    <add key="eIdentifier" value="Identificador electronico" />
    <add key="givenName" value="Nombre" />
    <add key="surname" value="Apellidos" />
    <add key="isdnie" value="DNIe" />
    <add key="inheritedFamilyName" value="Primer apellido" />
    <add key="secondSurname" value="Segundo apellido" />
    <add key="adoptedFamilyName" value="Apellidos adoptado" />
    <add key="gender" value="Genero" />
    <add key="dateOfBirth" value="Fecha de nacimiento" />
    <add key="countryCodeOfBirth" value="Codigo del pais de nacimiento" />
    <add key="nationalityCode" value="Nacionalidad" />
    <add key="maritalStatus" value="Estado civil" />
    <add key="textResidenceAddress" value="Direccion de residencia (texto)" />
    <add key="canonicalResidenceAddress" value="Direccion de residencia (canonica)" />
    <add key="eMail" value="Email" />
    <add key="title" value="Titulo" />
    <add key="residencePermit" value="Permiso de residencia" />
    <add key="pseudonym" value="Pseudonimo" />
    <add key="age" value="Edad" />
    <add key="isAgeOver" value="Es mayor que" />
    <add key="signedDoc" value="Documento firmado" />
    <add key="citizenQAALevel" value="Nivel QAA del ciudadano" />
    <add key="fiscalNumber" value="Numero fiscal" />
    <add key="ocspResponse" value="Respuesta OSCP" />
    <add key="forceAuth" value="Forzar autenticacion" />
    <add key="registerType" value="Tipo de registro" />
    <!-- Translated business attributes to Spanish -->
    <add key="surnameOfHolder" value="Apellidos del titular" />
    <add key="givenNameOfHolder" value="Nombre del titular" />
    <add key="dateOfBirthOfHolder" value="Fecha de nacimiento del titular" />
    <add key="studentIdentificationCode" value="Codigo de identificacion de estudiante" />
    <add key="nameOfQualification" value="Nombre de la cualificacion" />
    <add key="nameOfTitle" value="Nombre del titulo" />
    <add key="mainFieldsOfStudy" value="Campo principal de estudio" />
    <add key="nameOfAwardingInstitution" value="Nombre de la institucion expedidora" />
    <add key="statusOfAwardingInstitution" value="Estatus de la institucion expedidora" />
    <add key="languageOfInstruction" value="Idioma de la institucion" />
    <add key="languageOfAssesment" value="Idioma de evaluacion" />
    <add key="levelOfQualification" value="Nivel de la cualificacion" />
    <add key="officialLengthOfProgramme" value="Duracion oficial el programa" />
    <add key="accessRequirement" value="Requisito de acceso" />
    <add key="modeOfStudy" value="Modo de estudio" />
    <add key="programmeRequirements" value="Requisitos del programa" />
    <add key="programmeDetails" value="Detalles del programa" />
    <add key="gradingScheme" value="Esquema de calificaciones" />
    <add key="gradingDistributionGuidance" value="Guia de distribucion de calificaciones" />
    <add key="overallClassification" value="Calificacion global" />
    <add key="accessToFurtherStudy" value="Acceso a estudios mas avanzados" />
    <add key="professionalStatus" value="Estatus profesional" />
    <add key="additionalInformation" value="Informacion adicional" />
    <add key="additionalInformationSources" value="Fuentes de informacion adicional" />
    <add key="certificationDate" value="Fecha de certificacion" />
    <add key="certificationCapacity" value="Capacidad de certificacion" />
    <add key="higherEducationSystemInformation" value="Informacion de sistema de educacion mas avanzada" />
    <add key="yearOfStudy" value="Año de estudio" />
    <add key="averageGradeOfStudy" value="Nota media de estudio" />
    <add key="studyRecommendation" value="Recomendacion de estudio" />
    <add key="isEligibleForInternship" value="Es candidato a beca" />
    <add key="isStudent" value="Es estudiante" />
    <add key="isAcademicStaff" value="Es personal academico" />
    <add key="isTeacherOf" value="Es profesor de" />
    <add key="isCourseCoordinator" value="Es coordinador de curso" />
    <add key="isAdminStaff" value="Es personal administrativo" />
    <add key="habilitation" value="Cualificacion para ser profesor universitario en Europa" />
    <add key="acTitle" value="Titulo academico" />
    <add key="hasDegree" value="Tiene titulo" />
    <add key="hasAccountInBank" value="Tiene cuenta bancaria" />
    <add key="isHealthCareProfessional" value="Es profesional sanitario" />
    <!-- Translated legal attributes to Spanish -->
    <add key="eLPIdentifier" value="Identificador electronico de la persona legal" />
    <add key="legalName" value="Nombre legal" />
    <add key="alternativeName" value="Nombre alternativo" />
    <add key="type" value="Tipo" />
    <add key="translatableType" value="Tipo de traducible" />
    <add key="status" value="Estatus" />
    <add key="activity" value="Actividad" />
    <add key="registeredAddress" value="Direccion registrada" />
    <add key="registeredCanonicalAddress" value="Direccion canonica registrada" />
    <add key="contactInformation" value="Informacion de contacto" />
    <add key="fiscalNumber" value="Numero fiscal" />
    <add key="representative" value="Representante" />
    <add key="represented" value="Representado" />
    <add key="mandateContent" value="Contenido de la orden" />
    <!--CL@VE-->
    
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <applicationSettings>
    <eu.stork.peps.auth.engine.Properties.Settings>
      <setting name="PersonalAttributeList" serializeAs="String">
        <value>eIdentifier;givenName;surname;inheritedFamilyName;secondSurname;isdnie;adoptedFamilyName;gender;dateOfBirth;countryCodeOfBirth;nationalityCode;maritalStatus;textResidenceAddress;canonicalResidenceAddress;eMail;title;residencePermit;pseudonym;age;isAgeOver;signedDoc;citizenQAALevel;fiscalNumber</value>
      </setting>
      <setting name="eIdentifier_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/eIdentifier</value>
      </setting>
      <setting name="givenName_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/givenName</value>
      </setting>
      <setting name="surname_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/surname</value>
      </setting>
      <setting name="inheritedFamilyName_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/inheritedFamilyName</value>
      </setting>
      <setting name="secondSurname_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/secondSurname</value>
      </setting>
      <setting name="isdnie_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/isdnie</value>
      </setting>
      <setting name="adoptedFamilyName_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/adoptedFamilyName</value>
      </setting>
      <setting name="gender_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/gender</value>
      </setting>
      <setting name="dateOfBirth_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/dateOfBirth</value>
      </setting>
      <setting name="countryCodeOfBirth_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/countryCodeOfBirth</value>
      </setting>
      <setting name="nationalityCode_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/nationalityCode</value>
      </setting>
      <setting name="maritalStatus_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/maritalStatus</value>
      </setting>
      <setting name="textResidenceAddress_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/textResidenceAddress</value>
      </setting>
      <setting name="canonicalResidenceAddress_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/canonicalResidenceAddress</value>
      </setting>
      <setting name="eMail_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/eMail</value>
      </setting>
      <setting name="title_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/title</value>
      </setting>
      <setting name="residencePermit_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/residencePermit</value>
      </setting>
      <setting name="pseudonym_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/pseudonym</value>
      </setting>
      <setting name="age_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/age</value>
      </setting>
      <setting name="isAgeOver_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/isAgeOver</value>
      </setting>
      <setting name="signedDoc_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/signedDoc</value>
      </setting>
      <setting name="citizenQAALevel_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/citizenQAALevel</value>
      </setting>
      <setting name="fiscalNumber_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/fiscalNumber</value>
      </setting>
      <setting name="ocspResponse_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/ocspResponse</value>
      </setting>
      <setting name="forceAuth_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/forceAuth</value>
      </setting>
      <setting name="registerType_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/registerType</value>
      </setting>
      <setting name="BusinessAttributeList" serializeAs="String">
        <value>surnameOfHolder;givenNameOfHolder;dateOfBirthOfHolder;studentIdentificationCode;nameOfQualification;nameOfTitle;mainFieldsOfStudy;nameOfAwardingInstitution;statusOfAwardingInstitution;languageOfInstruction;languageOfAssesment;levelOfQualification;officialLengthOfProgramme;accessRequirement;modeOfStudy;programmeRequirements;programmeDetails;gradingScheme;gradingDistributionGuidance;overallClassification;accessToFurtherStudy;professionalStatus;additionalInformation;additionalInformationSources;certificationDate;certificationCapacity;higherEducationSystemInformation;yearOfStudy;averageGradeOfStudy;studyRecommendation;isEligibleForInternship;isStudent;isAcademicStaff;isTeacherOf;isCourseCoordinator;isAdminStaff;habilitation;acTitle;hasDegree;hasAccountInBank;isHealthCareProfessional</value>
      </setting>
      <setting name="surnameOfHolder_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/surnameOfHolder</value>
      </setting>
      <setting name="givenNameOfHolder_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/givenNameOfHolder</value>
      </setting>
      <setting name="dateOfBirthOfHolder_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/dateOfBirthOfHolder</value>
      </setting>
      <setting name="studentIdentificationCode_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/studentIdentificationCode</value>
      </setting>
      <setting name="nameOfQualification_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/nameOfQualification</value>
      </setting>
      <setting name="nameOfTitle_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/nameOfTitle</value>
      </setting>
      <setting name="mainFieldsOfStudy_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/mainFieldsOfStudy</value>
      </setting>
      <setting name="nameOfAwardingInstitution_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/nameOfAwardingInstitution</value>
      </setting>
      <setting name="statusOfAwardingInstitution_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/statusOfAwardingInstitution</value>
      </setting>
      <setting name="languageOfInstruction_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/languageOfInstruction</value>
      </setting>
      <setting name="languageOfAssesment_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/languageOfAssesment</value>
      </setting>
      <setting name="levelOfQualification_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/levelOfQualification</value>
      </setting>
      <setting name="officialLengthOfProgramme_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/officialLengthOfProgramme</value>
      </setting>
      <setting name="accessRequirement_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/accessRequirement</value>
      </setting>
      <setting name="modeOfStudy_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/modeOfStudy</value>
      </setting>
      <setting name="programmeRequirements_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/programmeRequirements</value>
      </setting>
      <setting name="programmeDetails_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/programmeDetails</value>
      </setting>
      <setting name="gradingScheme_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/gradingScheme</value>
      </setting>
      <setting name="gradingDistributionGuidance_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/gradingDistributionGuidance</value>
      </setting>
      <setting name="overallClassification_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/overallClassification</value>
      </setting>
      <setting name="accessToFurtherStudy_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/accessToFurtherStudy</value>
      </setting>
      <setting name="professionalStatus_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/professionalStatus</value>
      </setting>
      <setting name="additionalInformation_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/additionalInformation</value>
      </setting>
      <setting name="additionalInformationSources_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/additionalInformationSources</value>
      </setting>
      <setting name="certificationDate_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/certificationDate</value>
      </setting>
      <setting name="certificationCapacity_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/certificationCapacity</value>
      </setting>
      <setting name="higherEducationSystemInformation_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/higherEducationSystemInformation</value>
      </setting>
      <setting name="yearOfStudy_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/yearOfStudy</value>
      </setting>
      <setting name="averageGradeOfStudy_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/averageGradeOfStudy</value>
      </setting>
      <setting name="studyRecommendation_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/studyRecommendation</value>
      </setting>
      <setting name="isEligibleForInternship_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/isEligibleForInternship</value>
      </setting>
      <setting name="isStudent_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/isStudent</value>
      </setting>
      <setting name="isAcademicStaff_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/isAcademicStaff</value>
      </setting>
      <setting name="isTeacherOf_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/isTeacherOf</value>
      </setting>
      <setting name="isCourseCoordinator_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/isCourseCoordinator</value>
      </setting>
      <setting name="isAdminStaff_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/isAdminStaff</value>
      </setting>
      <setting name="habilitation_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/habilitation</value>
      </setting>
      <setting name="acTitle_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/acTitle</value>
      </setting>
      <setting name="hasDegree_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/hasDegree</value>
      </setting>
      <setting name="hasAccountInBank_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/hasAccountInBank</value>
      </setting>
      <setting name="isHealthCareProfessional_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/isHealthCareProfessional</value>
      </setting>
      <setting name="LegalAttributeList" serializeAs="String">
        <value>eLPIdentifier;legalName;alternativeName;type;translatableType;status;activity;registeredAddress;registeredCanonicalAddress;contactInformation;fiscalNumber;representative;represented;mandateContent</value>
      </setting>
      <setting name="eLPIdentifier_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/eLPIdentifier</value>
      </setting>
      <setting name="legalName_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/legalName</value>
      </setting>
      <setting name="alternativeName_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/alternativeName</value>
      </setting>
      <setting name="type_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/type</value>
      </setting>
      <setting name="translatableType_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/translatableType</value>
      </setting>
      <setting name="status_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/status</value>
      </setting>
      <setting name="activity_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/activity</value>
      </setting>
      <setting name="registeredAddress_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/registeredAddress</value>
      </setting>
      <setting name="registeredCanonicalAddress_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/registeredCanonicalAddress</value>
      </setting>
      <setting name="contactInformation_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/contactInformation</value>
      </setting>
      <setting name="representative_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/representative</value>
      </setting>
      <setting name="represented_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/represented</value>
      </setting>
      <setting name="mandateContent_NS" serializeAs="String">
        <value>http://www.stork.gov.eu/1.0/mandateContent</value>
      </setting>
      <setting name="AttributeSeparator" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="CountrySeparator" serializeAs="String">
        <value>;</value>
      </setting>
    </eu.stork.peps.auth.engine.Properties.Settings>
  </applicationSettings>
</configuration>
